<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.huasi.car.merchant.dao.impl.MerchantDaoImpl">
	<resultMap id="MerchantResultMap" type="org.huasi.car.merchant.entity.Merchant">
		<id column="mer_id" property="merId" jdbcType="INTEGER" />
		<result column="mer_code" property="merCode" jdbcType="VARCHAR" />
		<result column="mer_name" property="merName" jdbcType="VARCHAR" />
		<result column="mer_desc" property="merDesc" jdbcType="VARCHAR" />
		<result column="mer_business_hour" property="merBusinessHour"
			jdbcType="VARCHAR" />
		<result column="mer_facade_img" property="merFacadeImg"
			jdbcType="VARCHAR" />
		<result column="mer_comp_star" property="merCompStar" jdbcType="INTEGER" />
		<result column="mer_cap_star" property="merCapStar" jdbcType="INTEGER" />
		<result column="mer_serv_star" property="merServStar" jdbcType="INTEGER" />
		<result column="mer_eva_count" property="merEvaCount" jdbcType="INTEGER" />
		<result column="mer_lat" property="merLat" jdbcType="DOUBLE" />
		<result column="mer_lang" property="merLang" jdbcType="DOUBLE" />
		<result column="mer_contact" property="merContact" jdbcType="VARCHAR" />
		<result column="mer_phone" property="merPhone" jdbcType="VARCHAR" />
		<result column="mer_detail_area" property="merDetailArea"
			jdbcType="VARCHAR" />
		<result column="p_name" property="pName" jdbcType="VARCHAR" />
		<result column="p_code" property="pCode" jdbcType="VARCHAR" />
		<result column="c_name" property="cName" jdbcType="VARCHAR" />
		<result column="c_code" property="cCode" jdbcType="VARCHAR" />
		<result column="a_name" property="aName" jdbcType="VARCHAR" />
		<result column="a_code" property="aCode" jdbcType="VARCHAR" />
		<result column="mer_img_count" property="merImgCount" jdbcType="SMALLINT" />
		<result column="mer_is_group" property="merIsGroup" jdbcType="BIT" />
		<result column="mer_status" property="merStatus" jdbcType="SMALLINT" />
		<result column="mer_create_time" property="merCreateTime"
			jdbcType="TIMESTAMP" />
		<result column="mer_user_id" property="merUserId" jdbcType="INTEGER" />
		<result column="classify_names" property="classifyNames" />
	</resultMap>
	<resultMap id="MerchantDistanceResultMap" type="org.huasi.car.merchant.entity.Merchant">
		<id column="mer_id" property="merId" jdbcType="INTEGER" />
		<result column="mer_code" property="merCode" jdbcType="VARCHAR" />
		<result column="mer_name" property="merName" jdbcType="VARCHAR" />
		<result column="mer_desc" property="merDesc" jdbcType="VARCHAR" />
		<result column="mer_business_hour" property="merBusinessHour"
			jdbcType="VARCHAR" />
		<result column="mer_facade_img" property="merFacadeImg"
			jdbcType="VARCHAR" />
		<result column="mer_comp_star" property="merCompStar" jdbcType="INTEGER" />
		<result column="mer_cap_star" property="merCapStar" jdbcType="INTEGER" />
		<result column="mer_serv_star" property="merServStar" jdbcType="INTEGER" />
		<result column="mer_eva_count" property="merEvaCount" jdbcType="INTEGER" />
		<result column="mer_lat" property="merLat" jdbcType="DOUBLE" />
		<result column="mer_lang" property="merLang" jdbcType="DOUBLE" />
		<result column="mer_contact" property="merContact" jdbcType="VARCHAR" />
		<result column="mer_phone" property="merPhone" jdbcType="VARCHAR" />
		<result column="mer_detail_area" property="merDetailArea"
			jdbcType="VARCHAR" />
		<result column="p_name" property="pName" jdbcType="VARCHAR" />
		<result column="p_code" property="pCode" jdbcType="VARCHAR" />
		<result column="c_name" property="cName" jdbcType="VARCHAR" />
		<result column="c_code" property="cCode" jdbcType="VARCHAR" />
		<result column="a_name" property="aName" jdbcType="VARCHAR" />
		<result column="a_code" property="aCode" jdbcType="VARCHAR" />
		<result column="mer_img_count" property="merImgCount" jdbcType="SMALLINT" />
		<result column="mer_is_group" property="merIsGroup" jdbcType="BIT" />
		<result column="mer_status" property="merStatus" jdbcType="SMALLINT" />
		<result column="mer_create_time" property="merCreateTime"
			jdbcType="TIMESTAMP" />
		<result column="mer_user_id" property="merUserId" jdbcType="INTEGER" />
		<result column="classify_names" property="classifyNames" />
		<result column="distance" property="distance" />
	</resultMap>
	<sql id="MerchantColumn">
		mer_id, mer_code, mer_name, mer_desc, mer_business_hour,
		mer_facade_img,mer_comp_star,mer_cap_star, mer_serv_star,
		mer_eva_count, mer_lat, mer_lang, mer_contact,mer_phone,
		mer_detail_area,p_name,p_code,c_name,c_code,a_name,a_code,
		mer_img_count,mer_is_group,mer_status,mer_create_time, 
		mer_user_id,classify_names
	</sql>

	<!-- 获取商户详情 -->
	<select id="selectByPrimaryKey" resultMap="MerchantResultMap">
		select
		<include refid="MerchantColumn" />
		from merchant where mer_id=#{merId}
	</select>

	<!-- 搜索 匹配 查询商户 -->
	<select id="listBy" resultMap="MerchantResultMap" parameterType="map">
		(select m.* from merchant m where m.mer_status=#{merStatus} and
		m.mer_name like CONCAT('%',#{searchContent},'%'))
		union
		(select m.* from
		mer_classify c inner join mer_cl_mer cm on(cm.cl_id=c.cl_id) inner
		join merchant m on(m.mer_id=cm.mer_id) where m.mer_status=#{merStatus}
		and c.cl_name like CONCAT('%',#{searchContent},'%'))
		union
		(select m.*
		from mer_service ms inner join merchant m on(m.mer_id=ms.mer_id)
		where
		m.mer_status=#{merStatus} and ms.srv_name like
		CONCAT('%',#{searchContent},'%'))
	</select>

	<!-- 获取附近的商家 -->
	<select id="getNearbyMerchant" resultMap="MerchantDistanceResultMap"
		parameterType="map">
		select
		<include refid="MerchantColumn" />
		,2*6378.137*asin(sqrt(pow(sin(0.008726646259971648*(#{userLat}-mer_Lat)),2)+cos(0.17453292519943296*#{userLat})*cos(0.17453292519943296*mer_lat)*pow(sin(0.008726646259971648*(#{userLang}-mer_lang)),2)))
		distance
		from merchant where mer_status=#{merStatus} order by distance
		asc limit #{beginPageIndex},#{endPageIndex}
	</select>

	<!-- 智能排序最近的商家 -->
	<select id="matchMerchantByNearby" resultMap="MerchantDistanceResultMap"
		parameterType="map">
		select
		<include refid="MerchantColumn" />
		,2*6378.137*asin(sqrt(pow(sin(0.008726646259971648*(#{userLat}-mer_Lat)),2)+cos(0.17453292519943296*#{userLat})*cos(0.17453292519943296*mer_lat)*pow(sin(0.008726646259971648*(#{userLang}-mer_lang)),2)))
		distance
		from merchant
		<where>
			<if test="classifyId!=null and classifyId!=''">
				and mer_id in(select mer_id from mer_cl_mer where
				cl_id=#{classifyId})
			</if>
			<if test="areaCode!=null and areaCode!=''">
				and a_code=#{areaCode}
			</if>
			<if test="merStatus!=null and merStatus!=''">
				and mer_status=#{merStatus}
			</if>
		</where>
		order by distance asc limit #{beginPageIndex},#{endPageIndex}
	</select>

	<!-- 智能排序 评价最好的的商家 -->
	<select id="matchMerchantByEvaluation" resultMap="MerchantResultMap"
		parameterType="map">
		select
		<include refid="MerchantColumn" />
		from merchant
		<where>
			<if test="classifyId!=null and classifyId!=''">
				and mer_id in(select mer_id from mer_cl_mer where
				cl_id=#{classifyId})
			</if>
			<if test="areaCode!=null and areaCode!=''">
				and a_code=#{areaCode}
			</if>
			<if test="merStatus!=null and merStatus!=''">
				and mer_status=#{merStatus}
			</if>
		</where>
		order by mer_eva_count desc limit #{beginPageIndex},#{endPageIndex}
	</select>

	<!-- 智能排序 人气最高的的商家 -->
	<select id="matchMerchantByPopular" resultMap="MerchantResultMap"
		parameterType="map">
		select
		<include refid="MerchantColumn" />
		from merchant
		<where>
			<if test="classifyId!=null and classifyId!=''">
				and mer_id in(select mer_id from mer_cl_mer where
				cl_id=#{classifyId})
			</if>
			<if test="areaCode!=null and areaCode!=''">
				and a_code=#{areaCode}
			</if>
			<if test="merStatus!=null and merStatus!=''">
				and mer_status=#{merStatus}
			</if>
		</where>
		order by mer_ord_count desc limit #{beginPageIndex},#{endPageIndex}
	</select>

	<!-- 获取用户所收藏的商铺 -->
	<select id="getMerchantByUserId" resultMap="MerchantResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="MerchantColumn" />
		from merchant
		where mer_id in (select mer_id from mer_collect merc
		where
		merc.user_id=#{userId})
	</select>

	<!-- 更新商铺信息 -->
	<update id="batchUpdateByColumn" parameterType="map">
		update merchant
		<set>
			<if test="merEvaCount != null">
				mer_eva_count =mer_eva_count+#{merEvaCount},
			</if>
		</set>
		where mer_id = #{merId}
	</update>

</mapper>